* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
  padding-top: 15px;
}

.spacer {
  height: 20px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: #282828;
  color: white;
}

.history-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  width: 70%;
  height: 50px;
  font-size: 16px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  background-color: #f8f8f8;

  .result {
    height: 85%;
  }

  .input {
    height: 15%;
  }
}

.narrative {
  min-height: 450px;
  max-height: 450px;
  width: 850px;
  margin-top: 30px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;

  &p {
    margin: 0 0 10px 0;
  }
}

.scorestory {
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
  margin-top: 2px;
}

.user {
  max-width: 40px;
  max-height: 40px;
  margin-left: -5px;
  margin-right: 20px;
  margin-top: 2px;
}

.question {
  margin-top: 3px;
}

.icon-holder {
  display: flex;
  flex-direction: row;
}

.input_container {
  position: relative;
  display: flex;
}

input[type='text'] {
  width: 850px;
  height: 60px;
  padding: 0 15px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#submit-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333;
}
