.post {
    padding: 20px;
    background: rgb(198, 239, 241);
    color: black;
    margin: 15px;
    border-radius: 10px; 
}

.name-email {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.item {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}
.card-body {
     background:  rgb(244, 249, 246);
}

.card-header {
    background: rgb(194, 90, 177);
}