<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScoreStory</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/baseball.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="history">
      <p class="center">Chat History</p>
      {% for index in range(dates|length) %}
      <div class="history-entry" onclick="scrollToNarrative('{{ index }}')">
        <i class="far fa-comment"></i>
        <span>{{ dates[index] }}, {{ teams[index] }}</span>
      </div>
      {% endfor %}
    </div>
    <div class="display">
      <div class="result">
        <h1 class="center">ScoreStory</h1>
        <div class="narrative">
          {% for index in range(narratives|length) %}
          <p class="spacer"></p>
          <div class="icon-holder">
            <img
              class="user"
              src="{{ url_for('static', filename='icons/user.png') }}"
              alt="User Icon"
            />
            <span class="question">Tell me about the <b>{{ teams[index] }}</b>'s game on <b>{{ dates[index] }}</b></span>
          </div>
          <p class="spacer"></p>
          <div class="icon-holder">
            <img
              class="scorestory"
              src="{{ url_for('static', filename='icons/baseball.png') }}"
              alt="ScoreStory Icon"
            />
            <p id="narrative-{{ index }}">{{ narratives[index] }}</p>
          </div>
          <p class="spacer"></p>
          {% endfor %}
        </div>
      </div>
      <div class="input">
        <form action="/" method="POST">
          <div class="input_container">
            <input
              type="text"
              id="user_input"
              name="user_input"
              placeholder="Type your story request here..."
              required
            />
            <i class="fas fa-paper-plane" id="submit-icon"></i>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
