<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Score Story</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="history">
      <p class="center">Chat History</p>
      <div class="history-entry">
        {% if response %}
        <i class="far fa-comment"></i>
        <span>{{ response["date"], response["team"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="display">
      <div class="result">
        <h1 class="center">ScoreStory</h1>
        <div class="narrative">
          {% if narrative %}
          <p>{{ narrative }}</p>
          {% endif %}
        </div>
      </div>
      <div class="input">
        <form action="/" method="POST">
          <div class="input_container">
            <input
              type="text"
              id="user_input"
              name="user_input"
              placeholder="Type your story request here..."
              required
            />
            <i class="fas fa-paper-plane" id="submit-icon"></i>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
